@import "tailwindcss";

@font-face {
  font-family: 'ComicNeue';
  src: url('./assets/ComicNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ComicNeue';
  src: url('./assets/ComicNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-VariableFont_opsz,wght';
  src: url('./assets/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bg1: #FAF6F3;
  --color-bg2: #F6ECE7;
  --color-bg3: #EADED8;
  --color-bg4: #F0D8CC;
  --color-bg5: #cca693;
  --color-bgrec:  #fff085;
  --color-bgrec2: #f6e569;
  --color-fgrec: #ffce51;
  --color-mid: #FAB47F;
  --color-fg1: #361B16;
  --color-fg2: #54321D;
  --color-fg3: #6F5139;
  --color-copper: #BB7746;
}

@layer base {
  *:focus {
    outline: none !important;
  }

  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    outline: none !important;
    box-shadow: 0 0 0 2px #FAB47F !important;
    border-color: #ffce51 !important;
    border-color: #FAB47F !important;
  }

  body {
    font-family: 'Inter-VariableFont_opsz,wght';
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;
    /* Prevents body elasticity/bounce on iOS */
    @apply text-fg1;
  }

  #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.06em;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.05em;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.05em;
    @apply text-fg2;
  }

  .label {
    @apply text-fg3 text-xs italic;
  }

  .timestamp {
    @apply text-fg3 text-xs;
  }

  .notes {
    @apply text-fg2 text-sm italic whitespace-pre-wrap;
  }

  .notes.short {
    @apply line-clamp-2 text-ellipsis overflow-hidden max-w-full;
  }

  textarea.notes {
    @apply border rounded-sm border-fg3 text-fg1 p-1 text-sm w-full;
  }

  input[type="text"].name {
    @apply border rounded-sm border-fg3 text-fg1 p-1 text-sm w-full;
  }

  input[type="text"].filter {
    @apply border w-full rounded-sm border-fg3 text-fg1 p-1 text-sm max-w-60;
  }

  input[type="number"].value {
    @apply border rounded-sm border-fg3 text-fg1 p-1 text-sm w-20;
  }

  input[type="date"].date {
    @apply border rounded-sm border-fg3 text-fg1 p-1 text-sm w-full;
  }

  .error {
    @apply text-red-500 text-sm;
  }

  .font-hand {
    font-family: 'ComicNeue', sans-serif;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .inactive .main-menu-icon {
    @apply filter grayscale contrast-1000 opacity-50;
  }

  .inactive .main-menu-text {
    @apply opacity-50;
  }

  button {
    @apply bg-fg1 border border-transparent text-bg1 rounded-md px-3 py-[3px] cursor-pointer hover:ring-1 ring-mid text-nowrap;
  }

  button.inverse {
    @apply bg-transparent text-fg1 border-fg1;
  }

  button.sm {
    @apply rounded-md px-[6px] py-[2px] text-sm;
  }

  button.xs {
    @apply rounded-sm px-[5px] py-[1px] text-xs;
  }


  .dialog {
    @apply fixed inset-0 flex flex-col items-center justify-center z-10 absolute;
  }

  .dialog .backdrop {
    @apply fixed inset-0 backdrop-blur-sm;
  }

  .dialog .modal {
    @apply bg-bg1 border border-bg2 p-4 rounded-xl shadow-2xl/40 relative z-1 min-w-30 min-h-30 max-w-[90dvw] max-h-[90dvh] overflow-y-auto flex flex-col;
  }

  .dialog .details {
    @apply bg-bg2 border border-bg3 px-4 pt-7 pb-4 rounded-xl shadow-2xl/40 relative z-1 min-w-50 w-100 min-h-50 max-w-[90dvw] max-h-[90dvh] overflow-y-auto;
  }

  .dialog .library {
    @apply bg-bg2 border border-bg3 px-4 pt-7 pb-4 rounded-xl shadow-2xl/40 relative z-100 w-[90dvw] max-w-[90dvw] h-[90dvh] max-h-[90dvh] overflow-y-auto;
  }

  .dialog .item {
    @apply bg-bg3 border border-bg4 px-4 pt-7 pb-4 rounded-xl shadow-2xl/40 relative z-1 min-w-50 w-70 min-h-50 max-w-[90dvw] max-h-[90dvh] overflow-y-auto;
  }

  .dialog .recipe {
    @apply bg-bgrec border border-bgrec2 px-4 pt-7 pb-4 shadow-2xl/40 relative z-1 min-w-50 w-100 min-h-50 max-w-[90dvw] max-h-[90dvh] overflow-y-auto;
  }

  .dialog .modal .message {
    @apply mt-2 mb-4 text-center flex-1 flex items-center justify-center;
  }

  .dialog .modal .options {
    @apply flex justify-center gap-4;
  }


  .library-mark {
    width: 20px;
    height: 20px;
    background-color: var(--color-bg5);
    /* Corners: Top-Left (0 0), Top-Right (100% 0), Bottom-Left (0 100%) */
    clip-path: polygon(0 0, 100% 0, 0 100%);
    @apply absolute top-0 left-0;
  }

  .library-mark.small {
    width: 15px;
    height: 15px;
  }

  .recipe .library-mark,
  .library-mark.rec {
    background-color: var(--color-fgrec);
  }

}